<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">Ahihi</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item active">
        <a class="sidebar-link" href="index.html">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Thống kê</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="pages-profile.html">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Tài khoản</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="pages-settings.html">
          <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Cài đặt</span>
        </a>
      </li>

      <li class="sidebar-header">
        Quản lý
      </li>
      <!-- Product -->
      <li class="sidebar-item">
        <a href="#Product" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Quản lý sản phẩm</span>
        </a>
        <ul id="Product" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="/productType">Loại sản phẩm</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/product">Sản phẩm</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="ui-cards.html">Sản phẩm khuyến mãi</a></li>
        </ul>
      </li>

      <!-- Account -->
      <li class="sidebar-item">
        <a href="#Account" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Quản lý tài khoản</span>
        </a>
        <ul id="Account" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="/account">Tài khoản khách hàng</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="forms-basic-inputs.html">Tài khoản admin</a></li>
        </ul>
      </li>
      <!-- Order-->
      <li class="sidebar-item">
        <a href="#Order" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Đơn hàng</span>
        </a>
        <ul id="Order" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="forms-layouts.html">Đơn hàng mới</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="forms-basic-inputs.html">Đơn hàng chưa giao</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="forms-basic-inputs.html">Đơn hàng đã giao</a></li>
        </ul>
      </li>

      <li class="sidebar-header">
        Plugins & Addons
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="charts-chartjs.html">
          <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="maps-google.html">
          <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
        </a>
      </li>
    </ul>

    <div class="sidebar-cta">
      <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
        <div class="mb-3 text-sm">
          Are you looking for more components?
        </div>
        <a href="https://adminkit.io/pricing" target="_blank" class="btn btn-outline-primary btn-block">Upgrade</a>
      </div>
    </div>
  </div>
</nav>