<header>
  <div class="logo">
    <img src="images/logo.png" alt="" />
  </div>
  <!-- Logo -->
  <div class="welcome-user">
    <img src="images/user.png" alt="" />
    <span>LARA SMITH</span>
    <p>Welcome Lara Smith</p>
  </div>
  <div class="side-navigation">
    <ul>
      <li>
        <a href="/home" title=""><i class="icon-laptop"></i>Dashboard</a>
      </li>
      <li>
        <a href="/productType" title=""
          ><i class="icon-laptop"></i>Product Type</a
        >
      </li>
      <li>
        <a href="hosting-dashboard.html" title=""
          ><i class="icon-laptop"></i>Hosting Dashboard</a
        >
      </li>
      <li>
        <a href="sale-purchase-dashboard.html" title=""
          ><i class="icon-laptop"></i>For Sale & Purchase</a
        >
      </li>
      <li>
        <a title=""><i class="icon-cogs"></i>Components<span>13</span></a>
        <ul>
          <li>
            <a href="charts.html" title=""
              ><i class="icon-angle-right"></i>Charts</a
            >
          </li>
          <li>
            <a href="notification.html" title=""
              ><i class="icon-angle-right"></i>Notifications</a
            >
          </li>
          <li>
            <a href="grids.html" title=""
              ><i class="icon-angle-right"></i>Grids</a
            >
          </li>
          <li>
            <a href="ribbon-grids.html" title=""
              ><i class="icon-angle-right"></i>Ribbon Grids</a
            >
          </li>
          <li>
            <a href="buttons.html" title=""
              ><i class="icon-angle-right"></i>Buttons</a
            >
          </li>
          <li>
            <a href="calendars.html" title=""
              ><i class="icon-angle-right"></i>Calendars</a
            >
          </li>
          <li>
            <a href="progressbar.html" title=""
              ><i class="icon-angle-right"></i>Progress Bar</a
            >
          </li>
          <li>
            <a href="file-manager.html" title=""
              ><i class="icon-angle-right"></i>File Manager</a
            >
          </li>
          <li>
            <a href="gallery.html" title=""
              ><i class="icon-angle-right"></i>Gallery</a
            >
          </li>
          <li>
            <a href="slider.html" title=""
              ><i class="icon-angle-right"></i>Slider</a
            >
          </li>
          <li>
            <a href="dashboard.html" title=""
              ><i class="icon-angle-right"></i>Page Tour</a
            >
          </li>
          <li>
            <a href="collapse.html" title=""
              ><i class="icon-angle-right"></i>Collapse</a
            >
          </li>
          <li>
            <a href="range-slider.html" title=""
              ><i class="icon-angle-right"></i>Range Slider</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <a class="slide-up-btn"><i class="icon-align-justify"></i></a>
</header>
