<header>
  <div class="logo">
    <img src="images/logo.png" alt="" />
  </div>
  <!-- Logo -->
  <div class="welcome-user">
    <img src="images/user.png" alt="" />
    <span>LARA SMITH</span>
    <p>Welcome Lara Smith</p>
  </div>
  <div class="side-navigation">
    <ul>
      <li>
        <a href="/home" title=""><i class="icon-dashboard"></i>Dashboard</a>
      </li>
      <li>
        <a title=""><i class="icon-th-large"></i>Loại sản phẩm<span>2</span></a>
        <ul>
          <li>
            <a href="/productType" title=""
              ><i class="icon-ok"></i>Loại sản phẩm</a
            >
          </li>
          <li>
            <a href="/deletedType" title=""
              ><i class="icon-trash"></i>Loại sản phẩm đã xóa</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a title=""><i class="icon-th-list"></i>Sản phẩm<span>2</span></a>
        <ul>
          <li>
            <a href="/product" title=""><i class="icon-ok"></i>Sản phẩm</a>
          </li>
          <li>
            <a href="/deletedproduct" title=""
              ><i class="icon-trash"></i>Sản phẩm đã xóa</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a title=""><i class="icon-user"></i>Thành viên<span>2</span></a>
        <ul>
          <li>
            <a href="/account" title=""><i class="icon-ok"></i>Thành viên</a>
          </li>
          <li>
            <a href="/deletedAccount" title=""
              ><i class="icon-trash"></i>Thành viên đã xóa</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a title=""><i class="icon-user"></i>Khách hàng<span>2</span></a>
        <ul>
          <li>
            <a href="/customer" title=""
              ><i class="icon-ok"></i>Quản lý khách hàng</a
            >
          </li>
          <li>
            <a href="/deletedCustomer" title=""
              ><i class="icon-trash"></i>Khách hàng đã xóa</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a title=""
          ><i class="icon-th-list"></i>chương trình khuyến mãi<span>2</span></a
        >
        <ul>
          <li>
            <a href="/promotions" title=""
              ><i class="icon-ok"></i>chương trình khuyến mãi</a
            >
          </li>
          <li>
            <a href="/deletedproduct" title=""
              ><i class="icon-trash"></i>chương trình khuyến mãi đã xóa</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <a class="slide-up-btn"><i class="icon-align-justify"></i></a>
</header>
