<div class="top-stats">
  <input type="text" placeholder="Your Search Here" /><i
    class="icon-search"
  ></i>
  <div class="top-bar-chart">
    <div class="bar-chart-details">
      <p>New User</p>
      <h5>17,561</h5>
    </div>
    <span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,2,2,4</span>
  </div>

  <div class="top-bar-chart">
    <div class="bar-chart-details">
      <p>My Balance</p>
      <h5>$21,561.01</h5>
    </div>
    <span id="my-balance" class="sparkline">4,5,6,7,6,5,4,3,2,2,4</span>
  </div>
  <div class="top-stats-icons">
    <i class="icon-rocket"></i><i class="icon-user"></i
    ><i class="icon-laptop"></i><i class="icon-tasks"></i>
  </div>
</div>
