<!DOCTYPE html>
<html lang="en">
<% include ../partials/Header %>

<body>
  <div id="container" class="ui-notify"></div>
  <div class="wrapper">
    <!-- side-navigation -->
    <% include ../partials/side-navigation %>

    <!-- Header End -->

    <section class="main-section">
      <div class="responsive-logo">
        <img src="images/logo.png" alt="" />
      </div>
      <div class="responsive-menu">
        <div class="responsive-menu-dropdown">
          <a title="" class="red">MENU <i class="icon-align-justify"></i></a>
        </div>

        <ul>
          <li>
            <a href="dashboard.html" title=""><i class="icon-laptop"></i>Dashboard</a>
          </li>
          <li>
            <a href="hosting-dashboard.html" title=""><i class="icon-laptop"></i>Hosting Dashboard</a>
          </li>
          <li>
            <a href="sale-purchase-dashboard.html" title=""><i class="icon-laptop"></i>For Sale & Purchase</a>
          </li>
          <li>
            <a title=""><i class="icon-cogs"></i>Components<span>13</span></a>
            <ul>
              <li>
                <a href="charts.html" title=""><i class="icon-angle-right"></i>Charts</a>
              </li>
              <li>
                <a href="notification.html" title=""><i class="icon-angle-right"></i>Notifications</a>
              </li>
              <li>
                <a href="grids.html" title=""><i class="icon-angle-right"></i>Grids</a>
              </li>
              <li>
                <a href="ribbon-grids.html" title=""><i class="icon-angle-right"></i>Ribbon Grids</a>
              </li>
              <li>
                <a href="buttons.html" title=""><i class="icon-angle-right"></i>Buttons</a>
              </li>
              <li>
                <a href="calendars.html" title=""><i class="icon-angle-right"></i>Calendars</a>
              </li>
              <li>
                <a href="progressbar.html" title=""><i class="icon-angle-right"></i>Progress Bar</a>
              </li>
              <li>
                <a href="file-manager.html" title=""><i class="icon-angle-right"></i>File Manager</a>
              </li>
              <li>
                <a href="gallery.html" title=""><i class="icon-angle-right"></i>Gallery</a>
              </li>
              <li>
                <a href="slider.html" title=""><i class="icon-angle-right"></i>Slider</a>
              </li>
              <li>
                <a href="dashboard.html" title=""><i class="icon-angle-right"></i>Page Tour</a>
              </li>
              <li>
                <a href="collapse.html" title=""><i class="icon-angle-right"></i>Collapse</a>
              </li>
              <li>
                <a href="range-slider.html" title=""><i class="icon-angle-right"></i>Range Slider</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <!-- top-stats -->
          <% include ../partials/top-stats %>
          <!-- main-bg-->
        </div>
        <!-- Row -->
      </div>
      <!-- Container -->
      <div class="container">
        <div class="col-md-12">
          <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModalAddCustomer"
            style="display: none;">
            <div class="modal-dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                      ×
                    </button>
                    <h4 class="modal-title">Thêm tài khoản khách hàng</h4>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-12">
                      <form id="customerForm" style="width: 100%;" enctype="multipart/form-data">
                        <div class="form-group" style="width: 500px;">
                          <div class="row">
                            <label class="form-label">Tên đầy đủ</label>
                            <input type="text" name="name" class="form-control" placeholder="Tên đầy đủ" />
                          </div>
                        </div>

                        <div class="form-group" style="width: 500px;">
                          <div class="row">
                            <label class="form-label">Số điện thoại</label>
                            <input type="number" name="phone" class="form-control" placeholder="Số điện thoại" />
                          </div>
                        </div>

                        <div class="form-group" style="width: 500px;">
                          <div class="row">
                            <label class="form-label">Mật khẩu</label>
                            <input type="password" name="password" class="form-control" placeholder="Mật khẩu" />
                          </div>
                        </div>
                        <div class="form-group" style="width: 500px;">
                          <div class="row">
                            <label class="form-label">Nhập lại mật khẩu</label>
                            <input type="password" name="rePassword" class="form-control" placeholder="Nhập lại mật khẩu" />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn gray" type="button">
                      Close
                    </button>
                    <button class="btn blue" id="btnSubmit" onclick="addAccount(event)" name="btnCreate" type="button">
                      Thêm Tài khoản
                    </button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <a class="btns blue sml-btn" href="#myModalAddCustomer" data-toggle="modal">Thêm Tài khoản</a>
              </div>
            </div>
          </div>
          <!-- Modal Open Button -->
        </div>
        <!-- Modal edit -->
        <div class="col-md-12">
          <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModalEditCustomer"
            style="display: none;">
            <div class="modal-dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                      ×
                    </button>
                    <h4 class="modal-title">Chỉnh sửa tài khoản</h4>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-12">
                      <form id="accountFormEdit" enctype="multipart/form-data">
                        <div class="form-group" style="width: 500px;">
                          <div class="row">
                            <input hidden name="idEdit"  />
                            <label class="form-label">Tên đầy đủ</label>
                            <input type="text" name="nameEdit" class="form-control" placeholder="Tên đầy đủ" />
                          </div>
                        </div>

                        <div class="form-group" style="width: 500px;">
                          <div class="row">
                            <label class="form-label">Số điện thoại</label>
                            <input type="number" name="phoneEdit" class="form-control" placeholder="Số điện thoại" />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn gray" type="button">
                      Close
                    </button>
                    <button type="button" id="btnSubmit" onclick="editAccount(event)" name="btnCreate"
                      class="btn blue">Cập nhật</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
            </div>
            <!-- /.modal-content -->
          </div>

        </div>
        <div class="col-md-12">
          <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModalDeleteCustomer"
            style="display: none;">
            <div class="modal-dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                      ×
                    </button>
                    <h4 class="modal-title">Xóa tài khoản</h4>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-12">
                      <form id="deleteProTypeForm" enctype="multipart/form-data">
                        <p name="customerIdDel" hidden>
                        </p>
                        <p> Bạn muốn xóa tài khoản này này?
                        </p>
                        <p name="nameDel">
                        </p>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn gray" type="button">
                      Close
                    </button>
                    <button type="button" id="btnSubmit" onclick="deleteAccount(event)" class="btn blue">Xóa</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
            </div>
            <!-- /.modal-content -->
          </div>

        </div>
        <div class="col-md-12">
          <div class="widget-body">
            <div class="widget-heading purple">
              <i class="icon-table pull-left"></i>
              <h3 class="pull-left">Danh sách tài khoản</h3>
            </div>
            <div class="widget-sec">
              <div class="streaming-table">

              </div>
              <table id="stream_table" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th hidden></th>
                    <th style="width: 25%;">Tên đầy đủ</th>
                    <th style="width: 20%;">Số điện thoại</th>
                    <th style="width: 20%;">Tuỳ chỉnh</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i = 0; i < listCustomer.length; i++) { %>
                  <tr>
                    <td hidden><%= listCustomer[i]._id %></td>
                    <td><%= listCustomer[i].name %></td>
                    <td><%= listCustomer[i].phone %></td>
                    <td>
                      <button class="btns blue m-sml-btn" type="button" name="btn_edit" data-toggle="modal"
                        data-target="#myModalEditCustomer">
                        <i class="icon-pencil" data-feather="edit-2"></i>
                        Edit
                      </button>
                      <button class="btns  red  m-sml-btn " type="button" name="btn_delete" data-toggle="modal"
                        data-target="#myModalDeleteCustomer">
                        <i class="icon-remove" data-feather="trash"></i>
                        Remove
                      </button>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <div id="summary">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  <!-- Main Section -->
  </div>
  <!-- Wrapper -->

  <!-- Body -->

  <script type="text/javascript">
    var addAccount = function (event) {
      event.preventDefault();
      var formData = new FormData();

      var name = $("[name=name]").val();
      var phone = $("[name=phone]").val();
      var password = $("[name=password]").val();
      var rePassword = $("[name=rePassword]").val();


      formData.append("name", name);
      formData.append("phone", phone);
      formData.append("password", password);
      formData.append("rePassword", rePassword);

      $.ajax({
        url: "customer/addCustomer",
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
      })
        .done(function (result) {
          if (result.success) {
            //   alert(result.mgs);
            location.reload();
          } else {
            alert(result.mgs);
          }
        })
        .fail(() => {
          alert("Không kết nối được với server");
        });
    };

    var editAccount = function (event) {
      event.preventDefault();
      var formData = new FormData();
      var id= $("[name=idEdit]").val();
      var name = $("[name=nameEdit]").val();
      var phone = $("[name=phoneEdit]").val();

      formData.append("id", id);
      formData.append("name", name);
      formData.append("phone", phone);

      $.ajax({
        url: "customer/editCustomer",
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
      })
        .done(function (result) {
          if (result.success) {
            //   alert(result.mgs);
            location.reload();
          } else {
            alert(result.mgs);
          }
        })
        .fail(() => {
          alert("Không kết nối được với server");
        });
    };
    var deleteAccount = function (event) {
      event.preventDefault();

      var formData = new FormData();
      var customerId = $("[name=customerIdDel]").text();

      formData.append("id", customerId);

      $.ajax({
        url: "customer/deleteCustomer",
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
      })
        .done(function (result) {
          if (result.success) {
            alert(result.mgs);
            location.reload();
          } else {
            alert(result.mgs);
          }
        })
        .fail(() => {
          alert("Không kết nối được với server");
        });
    };

    $("[name=btn_edit]").click(function () {
      var customerId = $(this).parent().parent().children().eq(0).html();
      var name = $(this).parent().parent().children().eq(1).html();
      var phone = $(this).parent().parent().children().eq(2).html();

      $("[name=idEdit]").val(customerId);
      $("[name=nameEdit]").val(name);
      $("[name=phoneEdit]").val(phone);
    });
    $("[name=btn_delete]").click(function () {
      var customerId = $(this).parent().parent().children().eq(0).html();
      var name = $(this).parent().parent().children().eq(1).html();
      $("[name=customerIdDel]").text(customerId);
      $("[name=nameDel]").text(name);
    });
  </script>
  <script src="js/app.js"></script>
</body>

</html>